* {
  margin: 0;
  padding: 0;	
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 27px;
  letter-spacing: 1px;
  color: #33FF00;
}


h1 {
  color:  black;
  font-family: Courier New, Courier, monospace;
  background: #33FF00;
}

#white-block {
  position: absolute;
  display: inline-block;
  margin-top: 10px;
  width: 10px;
  height: 15px;
}

.keyboard-container {
  margin-top: 130px;
}

#target-letter {
  font-size: 38px;  
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
  color: black;
}

#feedback {
  font-size: 12px;
}

body {
  background-color: black;
}

